*.class

.classpath
.settings
*.iml
*.ipr
*.iws
target
.DS_Store
bin
.studio
# Package Files #
*.jar
*.war
*.ear
handshake-to-qbw/flows/
handshake-to-qbw/src/main/app/mule-app.properties
handshake-to-qbw/src/main/app/mule-deploy.properties
